body {
  margin: 0;
  padding: 0;
}

.header, .banner, .imageBanner {
  width: 100%;
}

.banner {
  position: relative;
}

.imageBanner {
  height: 100%;
  width: 100%;
  padding-bottom: 0;
}

.header {
  display: flex;
  gap: 40px;
  margin-left: 140px;
  position: absolute;
  align-items: flex-end;
  bottom: 0;
  z-index: 1;
}

.play,
.oscar {
  opacity: 0.5;
}

.logo {
  width: 160px;
  margin-bottom: 10px;
  margin-left: 110px;
  display: flex;
  justify-content: flex-end;
}

.cinemaContainer,
.oscarContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 5px;
}

.textCinema,
.textOscar,
.textRoundedBox {
  text-align: center;
  color: white;
}

.textCinema {
  z-index: 5;
  color: rgba(255, 255, 255, 0.5);
}

.textOscar {
  z-index: 7;
  color: rgba(255, 255, 255, 0.5);
}

.roundedBox {
  text-align: left;
  z-index: 8;
  width: 177px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 6px 5px 6px 5px;
  border-radius: 5px;
}

.textRoundedBox {
  padding-top: 0;
  margin: 1.5px;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  color: rgba(0, 0, 0, 0.473);
  font-size: 16px;
  font-weight: bold;
}

main {
  width: 100%;
  height: 500px;
  margin: 0;
  padding-bottom: 0;
  background-color: white;
  z-index: 0;
}

.roundedBox:hover {
  background-color: rgba(214, 173, 107, 0.493);
}

.textCinema:hover,
.textOscar:hover{
  color: rgb(152, 35, 185);
}
